{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-md-10 ml-md-auto">
                <div class="card bg-light mb-3 mt-5">
                    <div class="card-body">
                        <div class="card-header mb-3">Registration Form</div>
                        {{ form_start(registrationForm) }}
                        <div class="mb-3">
                            {{ form_row(registrationForm.email, {'attr': {'class': 'form-control'}}) }}
                        </div>
                        <div class="mb-3">
                            {{ form_row(registrationForm.plainPassword, {'attr': {'class': 'form-control'}}) }}
                        </div>
                        <div class="mb-3">
                            <div class="form-check">
                                {{ form_row(registrationForm.agreeTerms, {'attr': {'class': 'form-check-input'}}) }}
                            </div>
                        </div>

                        <button type="submit" class="btn btn-primary">Register</button>
                        {{ form_end(registrationForm) }}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
